.jbooking{
    display: block;
    width: max-content;
    border-top: none;
    box-shadow: 4px 4px 4px rgba(0, 99, 44, 0.829);
    border-radius: 5px;
    font-size: 50px;
    overflow-y: visible;
}
input,select{
    border: none;
    outline: none;
    border-radius: 5px ;
    font-size: 25px;
}
input:focus{
    outline-color: rgba(15, 66, 20, 0.911);
    outline-style: solid;
    font-size: 30px;
}